@model Belina.Models.LoginModel

@{
    ViewBag.Title = "Log on";
    Layout = null;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log on Form</legend>
        <ol>
            <li>
                @Html.LabelFor(c => c.UserName)
                @Html.TextBoxFor(c => c.UserName)
                @Html.ValidationMessageFor(c => c.UserName)
            </li>
            <li>
                @Html.LabelFor(c => c.Password)
                @Html.PasswordFor(c => c.Password)
                @Html.ValidationMessageFor(c => c.Password)
            </li>
            <li>
                @Html.CheckBoxFor(c => c.RememberMe)
                @Html.LabelFor(c => c.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log on" />
    </fieldset>
}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

