@model Belina.Models.RegisterModel
@{
    Layout = null;
}
<hgroup class="title">
    <h2>Креирајте нов администратор.</h2>
</hgroup>


@Scripts.Render("~/bundles/jquery")


<fieldset>
    <legend>Форма за регистрација</legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.UserName,"Корисничко име")
            @Html.TextBoxFor(m => m.UserName)
        </li>
        <li>
            @Html.LabelFor(m => m.Password,"Лозинка")
            @Html.PasswordFor(m => m.Password)
        </li>
        <li>
            @Html.LabelFor(m => m.ConfirmPassword,"Потврди лозинка")
            @Html.PasswordFor(m => m.ConfirmPassword)
        </li>
        <li>
            @Html.LabelFor(m => m.Email,"Емаил")
            @Html.TextBoxFor(m => m.Email)
        </li>
    </ol>
    <input type="button" id="Register" value="Регистрирај" />
    <br />
    <span id="message" style="color:red"></span>
</fieldset>

<script type="text/javascript">

    $("#Register").click(function () {

        $.ajax({
            url: "/Account/RegisterUser",
            type: "POST",
            data: {
                UserName: $("#UserName").val(),
                Password: $("#Password").val(),
                ConfirmPassword: $("#ConfirmPassword").val(),
                Email: $("#Email").val()
            },
            success: function (result) {
                if (result.msg == "OK") {
                    $("#message").text("Успешно регистриравте нов администратор");
                }
                else {
                    $("#message").text(result.msg);
                }
            }
        });
    });
</script>

