@{
    ViewBag.Title = "Products";
}

@{
    var pageId = ViewBag.pageId;
    var companyId = ViewBag.companyId;
    var TypeList = (List<Belina.Models.Type>)ViewBag.allItems;
    var Companies = (List<Belina.Models.Company>)ViewBag.Companies;
    var AllProducts = (List<Belina.Models.Products>)ViewBag.AllProducts;
    var Attributes = (List<Belina.Models.Attributes>)ViewBag.Attributes;
    var typeId = ViewBag.TypeId;
    var pagingLength = ViewBag.pagingLength;
    //var random_Product = ViewBag.randomProd;//random elementot od listata
}
<style>

    #left-container {
        width: 210px;
        float: left;
        margin-top: 50px;
        margin-bottom:10px;
    }

    #products {
        float: right;
        width: 810px;
        margin-top: 50px;
        border-left: 2px solid #E3E3E3;
        min-height: 600px;
        position: relative;
    }

    #main-content {
        width: 1024px;
        margin: auto;
        min-height: 750px;
    }

    .margin-left {
        margin-left: 13px;
    }

    .highlightTypes {
        background-color: #547b32;
        color: white !important;
    }
    .highlightCompany {
        background-color: #547b32;
        color: white !important;
    }
        .highlightAttr {
        background-color: #547b32;
        color: white !important;
    }
    #paging {
        text-align: center;
        clear: both;
        height: 50px;
        line-height: 35px;
    }
        #paging a {
            display: inline-block;
            height: 25px;
            border: solid 1px transparent;
            padding: 0 15px;
            outline: 0;
            font-weight: bold;
            font-size: 13px;
            text-decoration: none;
            white-space: nowrap;
            word-wrap: normal;
            line-height: 23px;
            vertical-align: middle;
            cursor: pointer;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
            -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
            -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
            box-shadow: 0 1px 0 rgba(0,0,0,0.05);
            border-color: #d3d3d3;
            box-sizing: border-box;
            text-decoration: none;
            background: #f8f8f8;
            color: #333;
        }

            #paging a:hover {
                border-color: #c6c6c6;
                background: #e9e9e9;
                -moz-box-shadow: inset 0 1px 0 #ddd;
                -ms-box-shadow: inset 0 1px 0 #ddd;
                -webkit-box-shadow: inset 0 1px 0 #ddd;
                box-shadow: inset 0 1px 0 #ddd;
            }

    .pagingHightlight {
                border-color: #c6c6c6 !important;
                background: #e9e9e9 !important;
                -moz-box-shadow: inset 0 1px 0 #ddd !important;
                -ms-box-shadow: inset 0 1px 0 #ddd !important;
                -webkit-box-shadow: inset 0 1px 0 #ddd !important;
                box-shadow: inset 0 1px 0 #ddd !important;
    }



    #companies .title-holder {
        cursor:pointer;
    }

    #company-holder{
        display:none;
    }

    #attributes .title-holder {
        cursor:pointer;
    }
    #attr-holder {
        display:none;
    }
    
    .plus {
    font-weight:bold;
    float: right;
    margin-right: 15px;
}
</style>
<div id="left-container">
    <div id="Types">
        <div class="title-holder">
            <h3>Типови</h3>
        </div>
        <div id="type-holder">
            @foreach (var item in TypeList)
            {
                <p>
                    <a href="/Home/Products?id=@pageId&type=@item.type_id&company=all&attr=all">@item.type_name</a>
                </p>
            }
        </div>
    </div>
    <div id="companies">
        <div class="title-holder">
            <h3 style="float:left">Производител</h3>
            <p class="plus">+</p>
        </div>
        <div id="company-holder">
            @{
                int z = 0;
            }
            @foreach (var company in Companies)
            {
                if (@typeId != null)
                {
                    if (z == 0)
                    {
                        <p>
                             <a href="/Home/Products?id=@pageId&type=@typeId&company=all&attr=all">сите</a>
                        </p>
                        z++;
                    }
                <p>
                    <a href="/Home/Products?id=@pageId&type=@typeId&company=@company.company_id&attr=all">@company.company_name</a>
                </p>
                }
                else
                {
                    if (z == 0)
                    {
                        <p>
                             <a href="/Home/Products?id=@pageId&type=@TypeList[0].type_id&company=all&attr=all">сите</a>
                        </p>
                        z++;
                    }
                <p>
                    <a href="/Home/Products?id=@pageId&type=@TypeList[0].type_id&company=@company.company_id&attr=all">@company.company_name</a>
                </p>
                }
            }
        </div>
    </div>
    <div id="attributes">
        <div class="title-holder">
            <h3 style="float:left">Карактеристика</h3>
            <p class="plus">+</p>
        </div>
        <div id="attr-holder">
            @{
                int i = 0;
            }
            @foreach (var attr in Attributes)
            {

                if (@companyId != null && @typeId != null && @pageId != null)
                {
                    if (i == 0)
                    {
                        <p>
                            <a href="/Home/Products?id=@pageId&type=@typeId&company=@companyId&attr=all">сите</a>
                        </p>
                        i++;
                    }
                        <p>
                            <a href="/Home/Products?id=@pageId&type=@typeId&company=@companyId&attr=@attr.attribute_id">@attr.attribute_name</a>
                        </p>
                }
                else
                {
                    if (i == 0)
                    {
                        <p><a href="/Home/Products?id=@pageId&type=@TypeList[0].type_id&company=all&attr=all">сите</a></p>
                        i++;
                    }
                    <p>
                        <a href="/Home/Products?id=@pageId&type=@TypeList[0].type_id&company=all&attr=@attr.attribute_id">@attr.attribute_name</a>

                    </p>
                }

            }
        </div>
    </div>
</div>
<div id="products">
    @*    <div class="product-on-top-promotion">
        <div class="product-on-top-image">
            <div class="product-on-top-image-holder">
                <img src="@random_Product.product_image" />
            </div> 
        </div>
        <div class="product-on-top-description">
            <div class="product-on-top-title">
                <h1>@random_Product.product_name</h1>
            </div>
        </div>
    </div>*@
    @foreach (var product in AllProducts)
    {
        <div class="product-page-product margin-left">
            <div class="product-top-product-holder">
                <p class="product-product-title">@product.product_name</p>
            </div>
            <div class="product-middle-product-holder">
                <img class="image-holder" src="@product.product_image" />
                <div class="product-product-description">
                    @{if (@product.product_description == null)
                      { 
                        <p>...</p>
                      }
                      if (@product.product_description != null)
                      {
                          if (@product.product_description.Length > 215)
                          {
                           <p>@product.product_description.Substring(0, 215)...</p>
                          }
                          else
                          {
                           <p>@product.product_description...</p>
                          }
                      }
                    }
                </div>
            </div>
            <div class="product-bottom-product-holder">
                <div class="more-container"><a href="/Home/ProductInfo?id=@product.product_id">повеќе</a></div>
            </div>
        </div>
    }

    <div id="paging">

@*    @{
        //String []pom = @Request.Url.ToString().Split('=');
     }*@

@{
    String[] pom = @Request.Url.ToString().Split('=');
    <div></div>
    for (int k = 0; k < Convert.ToInt32(@pagingLength);k++ )
    {
        <a href="/Home/Products?id=@pageId&type=@pom[2].Split('&')[0]&company=@pom[3].Split('&')[0]&attr=@pom[4].Split('&')[0]&pageId=@k">@(k+1)</a>
    }
}
</div>
</div>

<script type="text/javascript">

    var type;
    $(document).ready(function () {

        var str = location.href.toLowerCase();
        
        if (str.split("&")[1].split("=")[1] == 0) {
            $("#Types a:first").addClass("highlightTypes");
        }
        else {
            $("#Types a").each(function () {
                if (this.href.toLowerCase().split("&")[1].split("=")[1] == str.split("&")[1].split("=")[1]) {
                    $("#Types a.highlightTypes").removeClass("highlightTypes");
                    $(this).addClass("highlightTypes");
                }
            });
        }

        if (str.split("&")[2].split("=")[1] == "all") {
            $("#companies a:first").addClass("highlightCompany");
            debugger;
        }
        else {
            $("#companies a").each(function () {
                if (this.href.toLowerCase().split("&")[2].split("=")[1] == str.split("&")[2].split("=")[1]) {
                     debugger;
                    $("#companies a.highlightCompany").removeClass("highlightCompany");
                    $(this).addClass("highlightCompany");
                    $("#company-holder").css("display", "block");
                    $("#companies .plus").text("-");
                }
            });
        }

        if (str.split("&")[3].split("=")[1] == "all") {
            $("#attributes a:first").addClass("highlightAttr");
        }
        else {
            $("#attributes a").each(function () {
                if (this.href.toLowerCase().split("&")[3].split("=")[1] == str.split("&")[3].split("=")[1]) {
                    $("#attributes a.highlightAttr").removeClass("highlightAttr");
                    $(this).addClass("highlightAttr");
                    $("#attr-holder").css("display","block");
                    $("#attributes .plus").text("-");
                }
            });
        }
      //  debugger;
        if (str.split("&")[4] != undefined) {
            if (str.split("&")[4].split("=")[1] == "0") {
                $("#paging a:first").addClass("pagingHightlight");
            }
            else {
                $("#paging a").each(function () {
                //    debugger;
                    if (this.href.toLowerCase().split("&")[4].split("=")[1] == str.split("&")[4].split("=")[1]) {
                        $("#paging a.pagingHightlight").removeClass("pagingHightlight");
                        $(this).addClass("pagingHightlight");
                    }
                });
            }
        }
        

        $("#companies .title-holder").click(function () {
            if ($("#company-holder").is(':visible')) {
                $("#company-holder").slideUp("slow", function () {
                    $("#companies .plus").text("+");
                });
            }
            else {
                $("#company-holder").slideDown("slow", function () {
                    $("#companies .plus").text("-");
                });
            }  
        });

        $("#attributes .title-holder").click(function () {
            if ($("#attr-holder").is(':visible')) {
                $("#attr-holder").slideUp("slow", function () {
                    $("#attributes .plus").text("+");
                });
            }
            else {
                $("#attr-holder").slideDown("slow", function () {
                    $("#attributes .plus").text("-");
                });
            }
        });

    });



    //if (sessionStorage["scrollPostion"] == undefined) {
    //    sessionStorage.setItem("scrollPostion", 0);
    //}
    //var scrollP = sessionStorage['scrollPostion'];
    //$('#left-container').scrollTop(scrollP);
    //$(window).scroll(function () {

    //    if ($(this).scrollTop() < 40) {
    //        $("#left-container").css("top", 210);
    //    }
    //    if ($(this).scrollTop() == 40) {
    //        $("#left-container").css("top", 170);
    //    }
    //    if ($(this).scrollTop() > 40 && $(this).scrollTop() < 210) {

    //        $("#left-container").css("top", 210 - $(this).scrollTop());
    //    }
    //    if ($(this).scrollTop() == 400) {

    //        $('#left-container').css("top", -20)
    //    }
    //    if ($(this).scrollTop() == 440) {

    //        $('#left-container').css("top", -30)
    //    }
    //    //if ($(this).scrollTop() > 210 && $("#products").height() > 600) {
    //    //    debugger;
    //    //    $("#left-container").css("top", 10);
    //    //}
    //    if ($(window).scrollTop() + $(window).height() == $(document).height()) {
    //        $("#left-container").css("top", -100);
    //    }
    //});
    //$('#left-container').bind('mousewheel DOMMouseScroll', function (e) {
    //    var delta = e.wheelDelta || -e.detail;
    //    this.scrollTop += (delta < 0 ? 1 : -1) * 30;
    //    e.preventDefault();
    //    sessionStorage["scrollPostion"] = $('#left-container').scrollTop();
    //});
    // 
</script>
