<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Belina</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" type="text/css" />
    @*    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div id="header">
        <div id="header_top">
            <div id="logo">
                <img src="/Content/sliki/belinaLogo5.png" />
            </div>
            <div id="products_menu">
                <ul class="classesName">
                </ul>
            </div>
            <div id="products_submenu">
                <h2></h2>
                <h3></h3>

                <ul>
                </ul>
            </div>
        </div>
    </div>
    <div id="main_content" class="cf">
        @RenderBody()
    </div>
    <div id="footer"></div>

    <script type="text/javascript">

        var companyList = new Array();
        $(document).ready(function () {
            var n;
            var dinamycLeft = 347;
            var x;
            var k;
            var className, companyName, typeName, attributeName;
            $.ajax({
                url: "/Home/getClasses",
                type: "GET",
                data: {},
                success: function (result) {

                    for (n = 0; n < result.length; n++) {
                        $('.classesName').append('<li><a href="#" id="menuLink" onclick="showTypes( \'' + result[n].class_name + '\')"'
                            + 'class="classesLink" >' + result[n].class_name + '</a></li>');
                    }
                }
            });

            //==========================slide products script======================


            $("#prebaraj").animate({ right: "-270px" }, 0);
            //==================end slide products script================
        });

        function showTypes(className) {
            $('#products_submenu h2').empty();
            $('#products_submenu h3').empty();
            $('#products_submenu ul').empty();
            $('#products_submenu #dropDownAttributes').remove();
            $('#main_content').empty();
            $('#main_content').append('<div id="left_cube"><div id="top_cube">Најбарани</div><div id="bottom_cube">Промоција</div></div><div id="right_cube"></div>');
            var typeName;
            $.ajax({
                url: "/Home/getTypes",
                type: "GET",
                data: { className: className },
                success: function (result) {
                    for (x = 0; x < result.length; x++) {
                        typeName = result[x];
                        $('#right_cube').append('<a href="#" class="companyName" class="companyName" onclick="showCompanies(\'' + className + '\',\'' + typeName + '\')">'
                             + '<div style="width:90px;height:80px;margin-right:10px;margin-top:5px;margin-bottom:5px;float:left;text-align:center">'
                             + '<div style="margin: auto;width: 70px;height: 40px;background-color:rgb(' + Math.floor((Math.random() * 255) + 3) + ',' + Math.floor((Math.random() * 255) + 1) + ',' + Math.floor((Math.random() * 255) + 2) + ')">'
                             + '</div>' + '<p style="font-size: 13px;margin-bottom: 0px;margin-top: 0px;">' + typeName + '</p>' + '</div></a>');
                    }
                }
            });
        }
        function showCompanies(className, typeName) {
            $('#main_content').empty();
            $('#products_submenu ul').empty();
            $('#products_submenu h2').empty();
            $('#products_submenu h3').empty();
            $('#products_submenu h2').append(className);
            $('#products_submenu h3').append(typeName);
            var companyName;
            $.ajax({
                url: "/Home/getCompanies",
                type: "GET",
                data: { className: className, typeName: typeName },
                success: function (result) {
                    for (x = 0; x < result.length; x++) {
                        companyName = result[x];
                        $('#products_submenu ul').append('<li><a href="#" onclick="showProducts(\'' + className + '\',\'' + companyName + '\',\'' + typeName + '\',\'' + 'false' + '\')">' + companyName + '</a></li>');
                    }
                }
            });
        }
        //function emptyFirm(classId) {
        //    if ($('.item_' + classId).is(":hover") == false) {
        //        $('.item_' + classId).empty();
        //    }
        //}



        function showProducts(className, companyName, typeName, attributeName) {
            className = className;
            companyName = companyName;
            typeName = typeName;
            $('#main_content').empty();
            var product = '<div id="products">';
            var products_scroll_left = '<div id="products_scroll_left">';
            var scroll_left = '<a href="#" id="scroll_left"><img src="/Content/sliki/green-arrow-left-2.png"></img></a>';
            var products_scroll_right = ' <div id="products_scroll_right">';
            var scroll_right = '  <a href="#" id="scroll_right"><img src="/Content/sliki/green-arrow-right-2.png"></img></a>'
            var closeDiv = '</div>';
            var products_window = '<div id="products_window">';
            var products_selection = '<div id="products_selection">';

            var left = products_scroll_left + scroll_left + closeDiv;
            var right = products_scroll_right + scroll_right + closeDiv;
            var dropDownAttributes = '<select id="dropDownAttributes"></select>';
            $('#main_content').append(product + left + products_window + products_selection + closeDiv + closeDiv + right + closeDiv);
           

            $.ajax({
                url: "/Home/getProducts",
                type: "GET",
                data: { className: className, companyName: companyName, typeName: typeName, attributeName: attributeName },
                success: function (result) {
                    debugger;
                    if (attributeName == 'false') {
                        $('#products_submenu #dropDownAttributes').remove();
                        $('#products_submenu').append(dropDownAttributes);
                        for (k = 0; k < result.attributes.length; k++) {
                            $('#dropDownAttributes').append('<option value=' + result.attributes[k].replace(" ", "_") + '>' + result.attributes[k] + '</option>');
                        }
                    }
                    if (result.products.length > 10) {
                        $('#scroll_right').css('display', 'block');
                    }
                    var count_next_container = -1;
                    for (x = 0; x < result.products.length; x++) {
                        if (x == 0 || ((x / 10) % 1 != 0) == false) {
                            count_next_container++;
                           // $('#products_selection').empty();
                            $('#products_selection').append('<div class="products_frame"><div class="frame_title">'
                            + '<h3>' + typeName + '</h3>'
                            + '</div><div id="prod_container_' + count_next_container + '" class="products_group">'
                            + '<div class="product"><div class="product_image">'
                            + '<img src="/Content/sliki/kraft/vnatresni/Superior.jpg"></img></div>'
                            + '<div class="product_title">' + result.products[x] + '</div>'
                            + '<div class="product_description"></div>'
                            + '</div>'
                            + '</div>');
                        }
                        else {
                            var count = count_next_container.toString();
                            $('#prod_container_' + count).append('<div class="product"><div class="product_image">'
                            + '<img src="/Content/sliki/kraft/vnatresni/Superior.jpg"></img></div>'
                            + '<div class="product_title">' + result.products[x] + '</div>'
                            + '<div class="product_description"></div>');
                        }
                    }
                    setScrolling();
                    $('#dropDownAttributes').change(function () {
                        $('#main_content').empty();
                        var attributeValue = $("#dropDownAttributes option:selected").text();
                        showProducts(className, companyName, typeName, attributeValue);
                        attributeName = attributeValue;
                    });
                }
            });
        }

        function setScrolling() {
            var hidden = true;

            var frame_index = 1;
            var frame_length = $(".products_frame").length;

            $("#tab_icon").click(function () {
                if (hidden) {
                    $("#prebaraj").animate({ right: "0px" }, 600, 'easeInBack');
                    hidden = false;
                }
                else {
                    $("#prebaraj").animate({ right: "-270px" }, 600, 'easeOutBounce');
                    hidden = true;
                }
            });

            $("#scroll_left").click(function () {

                if (frame_index > 1) {
                    position = "+=770px";
                    $('#products_selection').animate(
                        { left: position },
                        1200,
                        'easeInOutQuint'
                    );
                    frame_index--;
                }
            });

            $("#scroll_right").click(function () {
                $('#scroll_left').css('display', 'block');
                if (frame_index < frame_length) {
                    position = "-=770px";
                    $('#products_selection').animate(
                        { left: position },
                        800,
                        'easeInOutQuint'
                    );
                    frame_index++;
                }
            });

            $(".product").mouseenter(function () {
                var styles =
                {
                    zIndex: "25",
                    backgroundColor: "#fefdfc",
                    color: "#506e80",
                    opacity: "0.9",
                    boxShadow: "0px 0px 20px 5px #c7c7c7"
                };
                $(this).css(styles);
            });

            $(".product").mouseleave(function () {
                var styles =
                {
                    zIndex: "20",
                    backgroundColor: "#ffffff",
                    borderColor: "#d7d7d7",
                    color: "#809eb0",
                    opacity: "1",
                    boxShadow: "0px 0px 0px 0px #979797"
                };
                $(this).css(styles);
            });

            $(".product").click(function () {
                $('#layer_3').show();
                var styles =
                {
                    width: "2px",
                    height: "2px",
                    top: "320px"
                };
                $('#product_details').css(styles);
                var content_styles =
                {
                    display: "none",
                    opacity: "0"
                };
                $('#product_details_content').css(content_styles);
                $('#product_details_close').css('display', 'none');

                var title = $(this).find('.product_title').text();
                $('#details_title h4').text(title);
                var description = $(this).find('.product_description').text();
                $('#details_subtitle').text(description);
                var image = $(this).find('.product_image').html() + "</img>";
                $('#details_image').html(image);

                $('#layer_4').show(800, function () {
                    $('#product_details').animate(
                        {
                            width: "900px",
                            height: "622px",
                            top: "0px"
                        },
                        600,
                        "linear",
                        function () {
                            $('#product_details_content').css('display', 'block');
                            $('#product_details_content').animate(
                                {
                                    opacity: "1"
                                },
                                1000,
                                function () {
                                    $('#product_details_close').css('display', 'block');
                                }
                            );
                        }
                    );
                });
            });

            $('#product_details_close').click(function () {
                $('#layer_4').animate(
                    {
                        opacity: "0"
                    },
                    300,
                    function () {
                        var layer_4_styles =
                        {
                            display: "none",
                            opacity: "1"
                        };
                        $('#layer_4').css(layer_4_styles);
                        $('#layer_3').animate(
                            { opacity: "0" },
                            1000,
                            function () {
                                var layer_3_styles =
                                {
                                    display: "none",
                                    opacity: "0.3"
                                };
                                $('#layer_3').css(layer_3_styles);
                            }
                        );
                    }
                );
            });
        }
    </script>
</body>
</html>
